# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17, 21 ]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Java ${{ matrix.java-version }}
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2    
    - name: Build with Maven and Java ${{ matrix.java-version }}
      run: mvn -B package  --no-transfer-progress --file pom.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: tests-java-${{ matrix.java-version }}
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}

  deploy:
    if: ${{ success() && github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v5
    - name: Set up Java 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.GPG_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    - name: Run maven deploy
      run: mvn -B -DskipTests=true deploy --no-transfer-progress --file pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.SONATYPE_USER }}
        MAVEN_PASSWORD: ${{ secrets.SONATYPE_PWD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}

